---
import Card from "./Card.astro";

interface Props {
  title: string;
  description: string;
  date: string;
  slug: string;
  category?: string;
}
const { title, description, date, slug, category } = Astro.props;
---

<Card href={"/articles/" + slug}>
  {category && <span class="card__tag">{category}</span>}
  <h2 class="card__title">{title}</h2>
  <p class="card__desc">{description}</p>
  <div class="card__footer">
    <time class="card__date">{date}</time>
  </div>
</Card>

<style>
  .card__desc {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .card__footer {
    margin-top: auto;
    display: flex;
    padding-top: 0.5rem;
  }

  .card__date {
    @apply ml-auto font-mono text-[0.625rem] text-offgray-600 dark:text-offgray-500;
  }
</style>
