@import "tailwindcss";

@layer app,article;

@layer app {
  :root {
    /*@apply bg-slate-50 transition dark:bg-slate-800;*/
    overscroll-behavior: none;
  }

  #app {
    min-height: 100vh;
    /*@apply bg-slate-50 transition dark:bg-slate-800;*/

    font-family:
      "Noto Serif CJK SC", "Source Han Serif SC", "SimSun", "STSong", "宋体",
      "Noto Serif", "DejaVu Serif", "Liberation Serif", serif;
  }

  ::selection {
    @apply bg-blue-300/40 dark:bg-green-600/60;
  }
}

@layer article {
  article {
    * {
      @apply text-slate-800 dark:text-slate-300;
    }
    h1 {
      @apply mt-8 mb-4 text-[1.8rem] font-bold text-slate-950 dark:text-slate-100;
    }
    h1:first-child {
      @apply mt-2;
    }
    h2 {
      @apply mt-6 mb-4 text-[1.4rem] font-bold text-slate-900 dark:text-slate-200;
    }
    h3 {
      @apply mt-3 mb-3 text-[1.25rem] font-bold;
    }
    h4 {
      @apply mt-2 mb-2 text-lg font-bold;
    }
    h5 {
      @apply mt-2 mb-2 text-base font-bold;
    }
    h6 {
      @apply mt-2 mb-2 text-sm font-bold;
    }
    p {
      @apply mb-3 px-4 leading-8;
    }

    li {
      @apply leading-7;
    }

    ul > li {
      @apply ms-4;
      list-style: disc;
    }

    ol > li {
      @apply ms-4 list-decimal;
    }

    blockquote {
      @apply mb-3 rounded-md border-b-2 border-slate-400/60 bg-slate-400/20 px-4 py-2;
    }

    code {
      @apply mt-2 mb-3 block rounded-md border-b-2 border-slate-400/60 bg-slate-400/20 px-4 py-2 text-wrap;
    }

    a {
      @apply text-green-600 underline underline-offset-4 transition hover:bg-slate-400/25 dark:text-green-400;
    }

    @apply pb-2;
  }
}

body {
  background-image: radial-gradient(#cad5e2 1px, #f8fafc 1px);
  background-size: 16px 16px;
}

@media (prefers-color-scheme: dark) {
  body {
    background-image: radial-gradient(#334155 1px, #1e293b 1px);
  }
}
